{% extends 'base1.html' %}
{% block main %}
<div class="container marketing">
    <div class="jumbotron" id="home">
        <div class="sombra">
            <h1>Entradas</h1>
        </div>
        <hr class="my-4">
        <p class="lead">Valor da entrada:</p>
        <form class="form-inblock">
              <label class="sr-only" for="valor">Valor da entrada:</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">R$</div>
                <input required type="text" class="form-control" id="Valor" placeholder="0,00"><br/>
                <br>
                
              </div>
              <br/>
              <p class="lead">Motivo da entrada:</p>
              <input type="text" class="form-control" id="motivo" placeholder="Digite aqui...">
              <button type="button" class="btn btn-primary my-2 my-sm-0">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}