{% extends 'base1.html' %}
{% block main %}
<div class="container marketing">
    <div class="jumbotron" id="home">
        <div class="sombra">
            <h1>Entradas</h1>
        </div>
        <hr class="my-4">
        <p class="lead sombra">Valor da entrada :</p>
        <form method="POST" class="form-inblock">
                {% csrf_token %}
              <label class="sr-only" for="valor">Valor da entrada :</label>
              <div class="input-group col-md-2">
                <div class="input-group-addon">R$</div>
                <input required name="valor" type="text" class="form-control" id="Valor" placeholder="0,00"><br/>
              </div>
              <br/>
              <p class="lead sombra">Descrição da entrada :</p>
              <div class="input-group col-md-8">
                <input required name="desc" type="text" class="form-control" id="motivo" placeholder="Digite aqui...">
              </div>
              <br/>
              <button type="submit" class="btn btn-primary my-2 my-sm-0">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}